.profilebasics{
    text-align: center;
    color: black;
    border-radius: 18px;
    width: 500px;
    margin: 30px auto;
    padding: 12px 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.skills{
    width: 500px;
    padding: 12px 24px;
    margin: 10px auto;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 20px;
}
h2{
    text-align: center;
    text-decoration:underline;
}
.nextpage{
    border-radius: 100px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
h3{
    text-decoration: underline;
}
.gototop{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    border-radius: 50%;
    animation-name:gototop ;
    animation-duration: 100s;
    animation-timing-function:ease;
    color: white;
    margin-right: 15px;
}
table{
    text-align: center;
}
a{
    color: darkgreen;
}
a:hover{
    color: blue;
}
.goto-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.profilebasics:hover{
    color: white;
    background-color: black;
}
.personal-details{
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 0px 25px;
    padding-bottom: 16px;
}
body{
    background-image: url(bckimg.jpg);
}
.skills-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    padding: 0 120px;
}
.nextpages{
    border-radius: 100px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    text-decoration: underline;
}
.skills:hover{
    color: white;
    border: 3px solid white;
}


